<div id = "plot">
  <h1><%= "All plots"%></h1><br>

  <% @plots.each do |plot| %>
      <%= plot.number%>
      <% plot.plants.each do |plant| %>
        <%= plant.name%>
        <%= link_to "remove #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %>
      <% end %>
  <% end %>
</div>
